* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}


.container{
  height: 100%;
  width: 100%;
  /* background-color: lightblue; */

  /* p{
    width: 60%;
    float: left;
  }

  img{
    width: 35%;
    height: 300px;
    margin-left: 40px;
    object-fit: cover;
    float: left;
  } */

  .box{
    height: 300px;
    width: 33.33%;
    /* background-color: red; */
    float: left;
    padding: 10px;

    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      background-position: center;
    }
  }
}
