* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  min-height: 100%;
  width: 100%;
  background-color: #f7f7f7;
  padding: 0 20px;
  padding-top: 90px;
}

nav {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0%;
  left: 0%;

  .links {
    display: flex;
    gap: 25px;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;

    p {
      transition: all 0.3s ease;
      &:hover {
        color: #ff4837;
      }
    }
  }

  .icons {
    display: flex;
    gap: 20px;
    cursor: pointer;
    font-size: 20px;

    i {
      transition: all 0.3s ease;
      &:hover {
        color: #ff4837;
      }
    }
  }
}

#section1 {
  height: 85vh;
  width: 100%;
  border-radius: 15px;
  background-image: url("https://vineta-html.vercel.app/images/slider/phonecase/slider-phonecase-2.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;

  h1 {
    font-size: 80px;
    line-height: 1;
    font-weight: 500;
  }

  p {
    font-size: 22px;
    font-weight: lighter;
    margin-top: 25px;
  }

  .shop_btn {
    width: 210px;
    margin-top: 30px;
    height: 50px;
    font-size: 20px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease;

    span i {
      font-size: 20px;
    }
  }
}

.shop_btn:hover {
  background-color: #ff6f61;
  color: white;
}
